- `Address`: Physical address of the customer
- `Lot`: A lot code associated with the purchase
- `AM or PM`: Time of day of the purchase
- `Browser Info`: Information about the browser used to make the purchase
- `Company`: Name of the company associated with the email address
- `Credit Card`: Credit card number used for the purchase
- `CC Exp Date`: Expiry date of the credit card
- `CC Security Code`: Security code of the credit card
- `CC Provider`: Provider of the credit card
- `Email`: Email address of the customer
- `Job`: Occupation of the customer
- `IP Address`: IP address from where the purchase was made
- `Language`: Language preference of the customer
- `Purchase Price`: Amount of the purchase

In [2]:
import pandas as pd ###
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Data_analysis_with_pandas/main/Data/Ecommerce%20Purchases.csv')

In [12]:
df.shape

(10000, 14)

In [8]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
 start:stop: step

In [18]:
df.iloc[::100].head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
100,"9980 Ramirez Grove\nSmithview, AZ 13342-4996",34 bB,AM,Opera/9.42.(X11; Linux x86_64; en-US) Presto/2...,"Guerrero, Benson and Johnson",4156259661649,11/24,289,Maestro,gregoryjohnson@cochran.com,Higher education careers adviser,58.191.1.216,el,4.36
200,USCGC Grant\nFPO AA 10424,97 qN,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Barrett LLC,3096521249347703,10/21,155,Voyager,danielsmith@delacruz.biz,Water engineer,132.254.220.76,ru,22.37
300,"6000 Reynolds Keys\nSmithfort, NH 46320-4004",35 lD,PM,Opera/9.16.(X11; Linux x86_64; sl-SI) Presto/2...,Steele and Sons,6011991945340952,03/19,174,Maestro,smithlaura@yahoo.com,Financial planner,121.97.93.36,el,2.91
400,"96074 Brett Fields\nWest Ryanfort, IN 51264",77 hM,AM,Opera/8.95.(Windows 98; sl-SI) Presto/2.9.161 ...,"James, Williams and Spears",676216805231,06/21,232,JCB 16 digit,kristyjones@yahoo.com,Print production planner,25.182.48.66,it,57.66

In [30]:
df.dtypes

In [24]:
num_rows, number_columns = df.shape

In [26]:
num_rows

10000

In [28]:
number_columns

14

2. How many people have French 'fr' as their Language?
3. How many purchases did each user (based on the email) make?
4. What is the average purchase price for each job category?
5. Calculate the total revenue per credit card provider.
6. What is the median purchase price for transactions made in AM versus PM?

In [35]:
df['Language'].value_counts()

Language
de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: count, dtype: int64

In [45]:
df.shape[0]

10000

In [59]:
# df.head()

In [57]:
# df.drop(columns='Lot')

In [41]:
df[df['Language'] == 'fr'].shape[0]

1097

In [ ]:
3. How many purchases did each user (based on the email) make?
4. What is the average purchase price for each job category?

In [69]:
purchase_each_user = df['Email'].value_counts().reset_index()

In [85]:
purchase_each_user[purchase_each_user['count']==2].to_csv('tesintg_export.csv',index=False)

In [83]:
df.groupby(df['Email']).size()

Email
aabbott@hotmail.com           1
aacosta@maddox-mann.info      1
aallen@yahoo.com              1
aalvarez@yahoo.com            1
aandersen@gmail.com           1
                             ..
zwhite@nichols-willis.com     1
zwilson@yahoo.com             1
zwright@suarez.biz            1
zyork@fischer-harrison.com    1
zyoung@yahoo.com              1
Length: 9954, dtype: int64

In [89]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [95]:
df['Purchase Price'].agg(['mean', 'sum'])

mean        50.347302
sum     503473.020000
Name: Purchase Price, dtype: float64

In [ ]:
median

In [99]:
df.groupby(df['CC Provider'])['Purchase Price'].agg(['sum', 'min','mean','max', 'std', 'var'])

,sum,min,mean,max,std,var
CC Provider,,,,,,
American Express,42865.52,0.07,50.489423,99.97,28.781365,828.366971
Diners Club / Carte Blanche,37378.39,0.04,48.733233,99.90,29.761256,885.732361
Discover,42208.13,0.00,51.662338,99.88,28.329986,802.588114
JCB 15 digit,44376.60,0.20,51.125115,99.95,28.622726,819.260464
JCB 16 digit,84597.33,0.19,49.299143,99.91,29.224583,854.076273
Maestro,42620.78,0.16,50.379173,99.99,28.695285,823.419393
Mastercard,40835.10,0.02,50.043015,99.93,29.229389,854.357182
VISA 13 digit,39976.54,0.14,51.449858,99.75,28.983740,840.057177
VISA 16 digit,85528.86,0.00,49.871055,99.99,28.904902,835.493383
Voyager,43085.77,0.03,51.973185,99.92,29.529675,872.001720

In [104]:
df.groupby(df['AM or PM'])[['Purchase Price']].median()

          Purchase Price
AM or PM
AM                 50.01
PM                 51.04

4. What is the average purchase price for each job category?
5. Calculate the total purchase price per credit card provider.
6. What is the median purchase price for transactions made in AM versus PM?
7. Find the maximum and minimum purchase amounts by browser language

In [108]:
df.groupby(df['Language'])['Purchase Price'].agg(['min', 'max'])

8. 

    a. How many unique companies are associated with purchases over $50?
    b. Average purchase price for each IP address
    c. Calculate the total Purchae Price per lot code.
    d. Who are the top 10 users by number of purchases?

In [139]:
df['Company'].value_counts()

In [129]:
Purchase_by_company = df.groupby('Company')[['Purchase Price']].sum().reset_index()

In [137]:
Purchase_by_company[Purchase_by_company['Purchase Price']>50]

In [149]:
df['IP Address'].value_counts()

In [147]:
df[['IP Address', 'Purchase Price']]

9. Job Title Contains Engineer or engineer
10. Find The Email of the person with the following IP Address: 132.207.160.22
11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?

In [166]:
# df['Job']

In [164]:
df[df['Job'].str.contains('manager', case=False)]

In [178]:
df['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [182]:
import numpy as np

In [184]:
np.array([1, 2, 3])*2

array([2, 4, 6])

In [186]:
df[df['IP Address'] =='132.207.160.22']['Email']
# B[['Email', '']]

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [188]:
df['CC Provider'].value_counts()

CC Provider
JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: count, dtype: int64

In [200]:
df[(df['CC Provider']=='Mastercard') & (df['Purchase Price']>50)]

In [256]:
df['AM or PM'].value_counts().shape

(2,)

In [ ]:
 How many people have a credit card that expires in 2020?

In [210]:
'08/22'[-2:]

'22'

In [264]:
df[df['CC Exp Date'].str[3:]== '20'].shape

(988, 16)

In [232]:
df['CC Exp Date'].str[3:]==

0       20
1       18
2       19
3       24
4       25
        ..
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: object

In [254]:
# df

In [250]:
df['riel_purchase']= df['Purchase Price']*4100

In [218]:
df['CC Exp Date-Year'] = df['CC Exp Date'].str[3:]

In [228]:
df[df['CC Exp Date-Year']=='20'].shape[0]

988

In [206]:
df['CC Exp Date'].value_counts()

CC Exp Date
08/22    108
01/26    105
04/19    105
01/21    104
01/19    103
        ...
12/22     67
11/25     67
10/25     64
08/26     48
08/16     39
Name: count, Length: 121, dtype: int64

In [266]:
'08/22'.split('/')

['08', '22']

In [274]:
df['CC Exp Date'].str.split('/').str[1].value_counts()

CC Exp Date
25    1033
23    1010
21    1006
22     996
18     995
19     995
24     992
20     988
17     955
26     654
16     376
Name: count, dtype: int64

In [294]:
'ab'[-1]

'd'

In [290]:
df['Email'].str.split('@')

0                    [pdunlap, yahoo.com]
1                   [anthony41, reed.com]
2       [amymiller, morales-harrison.com]
3          [brent16, olson-robinson.info]
4          [christopherwright, gmail.com]
                      ...
9995            [iscott, wade-garner.com]
9996                [mary85, hotmail.com]
9997                 [tyler16, gmail.com]
9998           [elizabethmoore, reid.net]
9999             [rachelford, vaughn.com]
Name: Email, Length: 10000, dtype: object

In [286]:
df['Email'].str.split('@').str[-1].value_counts().head(10)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
brown.com         29
johnson.com       29
davis.com         25
jones.com         25
martinez.com      19
Name: count, dtype: int64

10. Find The Email of the person with the following IP Address: 132.207.160.22
11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50$?
12. Find the email of the person with the following Credit Card Number: 4664825258997302
13. How many people purchase during the AM and how many people purchase during PM?
14. How many people have a credit card that expires in 2020?
15. What are the top 5 most popular email providers (e.g. [gmail.com](http://gmail.com/), [yahoo.com](http://yahoo.com/), etc...)